<a href="https://colab.research.google.com/github/Tanishq-Choudhary/Tanishq-Choudhary-23FE10CSE00664-ML-Lab-Sem-6/blob/main/Lab3_Kidney.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---

*Apply descriptive statistical techniques to summarize and interpret
datasets..**

Section: J2
Name: Tanishq Choudhary
Reg No: 23FE10CSE00664

Import packages and dataset

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Parse the dataset. I am parsing from github to ensure globally available

In [4]:
url = "https://raw.githubusercontent.com/Tanishq-Choudhary/Tanishq-Choudhary-23FE10CSE00664-ML-Lab-Sem-6/main/data/chronic_kidney_disease_preprocessed.csv"
df = pd.read_csv(url)

df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class,bun_creatinine_ratio
0,48.0,80.0,1.020,1.0,0.0,normal,normal,notpresent,notpresent,121.0,...,7800.0,5.2,yes,yes,no,good,no,no,1.0,30.000000
1,7.0,50.0,1.020,4.0,0.0,normal,normal,notpresent,notpresent,121.0,...,6000.0,4.8,no,no,no,good,no,no,1.0,22.500000
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,7500.0,4.8,no,yes,no,poor,no,yes,1.0,29.444444
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,6700.0,3.9,yes,no,no,poor,yes,yes,1.0,14.736842
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,7300.0,4.6,no,no,no,good,no,no,1.0,18.571429

Basic dataset inspection

In [5]:
df.head()
df.tail()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class,bun_creatinine_ratio
394,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,6700.0,4.9,no,no,no,good,no,no,0.0,98.000000
395,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,7800.0,6.2,no,no,no,good,no,no,0.0,25.833333
396,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,6600.0,5.4,no,no,no,good,no,no,0.0,43.333333
397,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,7200.0,5.9,no,no,no,good,no,no,0.0,50.000000
398,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,6800.0,6.1,no,no,no,good,no,no,0.0,16.363636

In [6]:
df.shape          # (rows, columns)
df.columns        # feature names

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc', 'rbcc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'class', 'bun_creatinine_ratio'],
      dtype='object')

In [7]:
df.info()         # data types + memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   399 non-null    float64
 1   bp                    399 non-null    float64
 2   sg                    399 non-null    float64
 3   al                    399 non-null    float64
 4   su                    399 non-null    float64
 5   rbc                   399 non-null    object
 6   pc                    399 non-null    object
 7   pcc                   399 non-null    object
 8   ba                    399 non-null    object
 9   bgr                   399 non-null    float64
 10  bu                    399 non-null    float64
 11  sc                    399 non-null    float64
 12  sod                   399 non-null    float64
 13  pot                   399 non-null    float64
 14  hemo                  399 non-null    float64
 15  pcv                   399 non-null    float64
 16  wbcc                  399 non-null    float64
 17  rbcc                  399 non-null    float64
 18  htn                   399 non-null    object
 19  dm                    399 non-null    object
 20  cad                   399 non-null    object
 21  appet                 399 non-null    object
 22  pe                    399 non-null    object
 23  ane                   399 non-null    object
 24  class                 399 non-null    float64
 25  bun_creatinine_ratio  399 non-null    float64
dtypes: float64(16), object(10)
memory usage: 81.2+ KB

shape gives number of rows & columns

info() gives data types + missing values

describe() gives statistical summary

Check for duplicates

In [ ]:
df.nunique()

'age'       76
'bp'        10
'sg'         5
'al'         6
'su'         6
'rbc'        2
'pc'         2
'pcc'        2
'ba'         2
'bgr'      146
'bu'       118
'sc'        84
'sod'       34
'pot'       40
'hemo'     115
'pcv'       44
'wbcc'      92
'rbcc'      49
'htn'        2
'dm'         5
'cad'        3
'appet'      3
'pe'         3
'ane'        2
'class'      3
dtype: int64

Sanitize names to ensure no errors later.

In [ ]:
df.columns = (
    df.columns
      .str.strip()     # remove spaces
      .str.strip("'")  # remove single quotes
      .str.lower()
)

Check for Missing Values

In [ ]:
df.isnull().sum()

age        9
bp        12
sg        47
al        46
su        49
rbc      152
pc        65
pcc        4
ba         4
bgr       44
bu        19
sc        17
sod       87
pot       88
hemo      52
pcv       70
wbcc     105
rbcc     130
htn        2
dm         3
cad        2
appet      1
pe         1
ane        1
class      0
dtype: int64

This dataset has missing values, in real datasets we handle them using mean/median/mode or dropping rows.

Now we first separate numeric and categorical columns.

In [ ]:
numeric_cols = [
    'age','bp','sg','al','su','bgr','bu','sc','sod','pot',
    'hemo','pcv','wbcc','rbcc'
]

categorical_cols = [
    'rbc','pc','pcc','ba','htn','dm','cad',
    'appet','pe','ane'
]

target = 'class'

Convert numeric columns.

In [ ]:
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

Handle missing values.

In [ ]:
for col in numeric_cols:
    df[col] = df[col].fillna(df[col].median())

In [ ]:
for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

Handle categorical values.

In [ ]:
for col in categorical_cols + [target]:
    df[col] = df[col].astype(str).str.strip().str.lower()

Feature target separation.

In [ ]:
X = df.drop(columns=[target])
y = df[target]

Conclusion: Successfully applied descriptive statistical techniques to summarize and interpret datasets.